/*---通用样式定义---*/
/*---label宽度---*/
body,
html {
  margin: 0;
  padding: 0;
  background: #f1f1f1 !important;
}
#__next {
  height: 100%;
}
i,
em {
  font-style: normal;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a:link,
a:hover,
a:active,
a:visited {
  border: none;
  color: inherit;
  outline: none;
  text-decoration: none;
}
a:hover {
  color: #ffb432 !important;
}
.bg-grey {
  background: #f0f3ef;
}
.bg-primary {
  background: #ffb432 !important;
}
.bg-lightgrey {
  background: #fafafa;
}
.bg-white {
  background: #fff !important;
}
.bg-primary-linear {
  background: -webkit-linear-gradient(right, #F56A2B, #FFB432) !important;
}
.bg-primary-linear:hover,
.bg-primary-linear:active,
.bg-primary-linear::selection,
.bg-primary-linear:visited {
  background: -webkit-linear-gradient(right, #F56A2B, #FFB432);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.bg-primary-linear:disabled {
  background: #e2e2e2 !important;
}
.bg-blue-linear {
  border: none !important;
  background: -webkit-linear-gradient(right, #3BA7EB, #508CF8);
}
.bg-blue-linear:hover {
  border: none !important;
  background: -webkit-linear-gradient(right, #3BA7EB, #508CF8);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0 !important;
  margin: 0 !important;
  line-height: 1;
  font-weight: normal;
}
h6,
.h6 {
  font-size: 12px;
}
h5,
.h5 {
  font-size: 14px;
}
h4,
.h4 {
  font-size: 16px;
}
h3,
.h3 {
  font-size: 18px;
}
h2,
.h2 {
  font-size: 20px;
}
h1,
.h1 {
  font-size: 22px;
}
.h0 {
  font-size: 24px;
}
.large {
  font-size: 28px;
}
.block {
  display: block !important;
}
.show {
  display: inline-block !important;
}
.hide {
  display: none !important;
}
.text-primary {
  color: #ffb432 !important;
}
.text-primary-linear {
  background-image: -webkit-linear-gradient(right, #F56A2B, #FFB432);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-secondary {
  color: #666;
}
.text-grey {
  color: #353a46;
}
.text-darkgrey {
  color: #303133;
}
.text-lightgrey {
  color: #909399;
}
.text-muted {
  color: #909090;
}
.text-white {
  color: #fff !important;
}
.text-black {
  color: black;
}
.text-info {
  color: #457acf;
}
.text-plus {
  color: #508CF8;
}
.text-warning {
  color: #ffb300;
}
.text-warn {
  color: #F08455;
}
.text-danger {
  color: #F75D39;
}
.text-hover:hover {
  color: #ffb432 !important;
}
.text-ellipsis {
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.mt1 {
  margin-top: 10px !important;
}
.mt2 {
  margin-top: 20px !important;
}
.mt3 {
  margin-top: 30px !important;
}
.mt4 {
  margin-top: 40px !important;
}
.mt5 {
  margin-top: 50px !important;
}
.mt10 {
  margin-top: 100px !important;
}
.mt8 {
  margin-top: 80px !important;
}
.mt6 {
  margin-top: 60px !important;
}
.p5 {
  padding: 50px !important;
}
.prl5 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
.ptb5 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.p6 {
  padding: 60px !important;
}
.prl6 {
  padding-left: 60px !important;
  padding-right: 60px !important;
}
.ptb6 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.p4 {
  padding: 40px !important;
}
.prl4 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.ptb4 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.p3 {
  padding: 30px !important;
}
.prl3 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.ptb3 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.p2 {
  padding: 20px !important;
}
.prl2 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.ptb2 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.p1 {
  padding: 10px !important;
}
.prl1 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.ptb1 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.border-radius {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.border-circle {
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.break {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
}
.maxWidth {
  width: 1220px;
  margin: 0 auto;
}
.border-color {
  border-radius: 50%;
  border: 1px solid #e5e5e5;
}
.iconfont {
  line-height: 0.7 !important;
  vertical-align: middle;
}
button .anticon {
  line-height: 0.7 !important;
  vertical-align: middle;
}
.common-header {
  background: #f8f8f8;
  height: 36px;
  line-height: 36px;
}
.common-header .common-header-content {
  width: 1220px;
  margin: 0 auto;
}
.common-header .common-header-content a {
  margin-left: 20px;
}
.common-header .message-num {
  color: #ffb432;
}
.common-header .login-out a {
  color: #d9d9d9;
}
.common-header .iconfont-triangle-bottom {
  color: #d9d9d9;
}
.common-header .iconfont-dizhi {
  color: rgba(0, 166, 95, 0.5);
}
.ant-popover-inner-content {
  padding: 0 !important;
}
.ant-popover-inner-content .common-popover {
  padding: 12px 16px;
}
.ant-popover-inner-content .newsList .bubble a {
  padding: 12px 20px;
}
.ant-popover-inner-content .newsList .allNews {
  /*width:232px;*/
  height: 40px;
  line-height: 40px;
}
.ant-popover-inner-content .newsList .allNews a {
  display: inline-block;
  width: 260px;
}
